.faq{

    padding: 95px 0 20px;

    background:var(--color-background);

}

.faq-title{

    margin-bottom:26px;

    color:var(--color-primary);

    font-family:var(--font-title);

    font-size:2rem;

    text-transform:uppercase;

}

.faq-content{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:40px;

}

.faq-questions{

    flex:1;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:16px;

}

.faq-item{

    height:56px;
    width:100%;

    padding:0 18px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#111;

    border:1px solid rgba(214,155,45,.18);

    border-radius:8px;

    color:var(--color-text);

    font-size:.95rem;

    transition:.3s;

}

.faq-item:hover{

    border-color:rgba(214,155,45,.45);

}

.faq-item svg{

    color:var(--color-text);

    transition:
        transform .35s ease;

}

.faq-item svg.rotate{

    transform:rotate(180deg);

}

.faq-image{
    margin-right: -110px;
    margin-top: -70px;
    width: 640px;

    flex-shrink:0;

}

.faq-image img{

    width:100%;

    display:block;

}


/*==================================================
TABLET
==================================================*/

@media (max-width:1024px){

    .faq{

        padding:80px 0 40px;

    }

    .faq-title{

        text-align:center;

        font-size:2rem;

    }

    .faq-content{

        flex-direction:column;

        align-items:center;

        gap:50px;

    }

    .faq-questions{

        width:100%;

        grid-template-columns:repeat(2,1fr);

    }

    .faq-image{

        width:520px;

        margin:0;

    }

    .faq-image img{

        width:100%;

    }

}

/*==================================================
MOBILE
==================================================*/

@media (max-width:768px){

    .faq{

        padding: 30px 0 30px;

    }

    .faq-title{

        text-align:center;

        font-size:1.8rem;

    }

    .faq-content{

        gap:40px;

    }

    .faq-questions{

        grid-template-columns:1fr;

        gap:14px;

    }

    .faq-item{

        height:54px;

        font-size:.9rem;

        padding:0 16px;

    }

    .faq-image{

        width:100%;

        max-width:420px;

        margin:0 auto;

    }

}

/*==================================================
CELULARES PEQUENOS
==================================================*/

@media (max-width:480px){

    .faq{

        padding: 30px 0 20px;

    }

    .faq-title{

        font-size:1.55rem;

    }

    .faq-item{

        height:50px;

        font-size:.85rem;

        padding:0 14px;

    }

    .faq-image{

        max-width: 420px;

    }

}


/* ==========================================
   FAQ - ANIMAÇÕES
========================================== */

/* ---------- Título ---------- */

.faq-title{

    opacity: 0;

    transform: translateY(40px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.faq.animate .faq-title{

    opacity: 1;

    transform: translateY(0);

}

/* ---------- Perguntas ---------- */

.faq-item{

    opacity: 0;

    transform: translateY(35px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.faq.animate .faq-item{

    opacity: 1;

    transform: translateY(0);

}

.faq.animate .faq-item:nth-child(1){

    transition-delay: .10s;

}

.faq.animate .faq-item:nth-child(2){

    transition-delay: .20s;

}

.faq.animate .faq-item:nth-child(3){

    transition-delay: .30s;

}

.faq.animate .faq-item:nth-child(4){

    transition-delay: .40s;

}

/* ---------- Imagem ---------- */

.faq-image img{

    opacity: 0;

    transform: translateX(60px);

    transition:
        opacity .9s ease,
        transform .9s ease;

}

.faq.animate .faq-image img{

    opacity: 1;

    transform: translateX(0);

}




.faq-box{

    width:100%;

}


/* ==========================================
   RESPOSTA FAQ
========================================== */
.faq-answer{

    max-height:0;

    overflow:hidden;

    opacity:0;

    padding:0 20px;

    background:#171717;

    border-left:1px solid rgba(214,155,45,.18);

    border-right:1px solid rgba(214,155,45,.18);

    border-bottom:1px solid rgba(214,155,45,.18);

    border-radius:0 0 8px 8px;

    transition:
        max-height .35s ease,
        opacity .35s ease,
        padding .35s ease;

}

.faq-answer.open{

    max-height: 280px;

    opacity:1;

    padding:18px 20px;

}

.faq-answer p{

    color:var(--color-text-secondary);

    font-size:.82rem;

    line-height:1.8;

}

.faq-item.active{

    border-color:rgba(214,155,45,.45);

    border-bottom-left-radius:0;

    border-bottom-right-radius:0;

}






